body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFD928; /* Color de fondo del body */
    color: #333;
  }
  
  header {
    color: white;
    background-color: #072031;
  
  }
  
  h1, h2, p{
    text-align: center;
  }
  
  .header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #072031;
  }
  
  .header-container .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header-container img {
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 20px;
    position: relative;
  }
  
  nav ul li a {
    color: #fff; /* Color de texto en los enlaces */
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  nav ul li a:hover {
    background-color: #0f486d; /* Color al pasar el ratón */
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0f486d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    min-width: 150px;
    overflow: hidden;
    z-index: 1;
  }
  
  .dropdown-content li {
    margin: 0;
  }
  
  .dropdown-content li a {
    padding: 10px 15px;
    display: block;
    color: white;
    transition: background-color 0.3s;
  }
  
  .dropdown-content li a:hover {
    background-color: #3eaeea;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .slider {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 40px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .slide img {
    width: 100%;
    display: block;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #chat-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #072031; /* Color del chat-bubble */
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    z-index: 1000;
  }
  
  #chat-container {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    z-index: 999;
  }
  
  #chat-display {
    height: 200px;
    overflow-y: scroll;
    padding-bottom: 10px;
  }
  
  .chat-message {
    margin-bottom: 10px;
  }
  
  .bot-message {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 8px 10px;
    margin-left: 20px;
  }
  
  .user-message {
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 8px 10px;
    margin-right: 20px;
    text-align: right;
  }
  
  #user-input {
    width: calc(100% - 80px);
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin: 10px;
  }
  
  #send-button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #072031; /* Color del botón de enviar */
    color: white;
    cursor: pointer;
    margin: 10px;
  }
  
  main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #072031; /* Color del footer */
    color: white;
  }
  
  @media (max-width: 768px) {
    .header-container {
        align-items: center;
    }
  
    .header-container .container {
        align-items: center;
        flex-direction: column;
    }
  
    nav ul {
        flex-direction: column;
    }
  
    nav ul li {
        margin: 10px 0;
    }
  
    nav ul li a {
        text-align: center;
    }
  
    .dropdown-content {
        position: static;
        box-shadow: none;
        border-radius: 5px;
    }
  
    .dropdown:hover .dropdown-content {
        display: block;
    }
  
    .card {
        width: 100%;
    }
  }
  
  .container-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: auto;
    max-height: 200px; /* Ajusta el alto máximo de las imágenes */
    object-fit: cover;
    border-radius: 10px;
  }
  
  .card h3 {
    margin: 15px 0;
    font-size: 22px;
    color: #333;
  }
  
  .card p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .btnView {
    background-color: #072031; /* Color del botón de vista */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btnView:hover {
    background-color: #555;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  #empresas-reconocidas {
    padding: 20px;
    text-align: center;
  }
  
  #empresas-reconocidas h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .empresa-logo {
    display: inline-block;
    margin: 10px;
  }
  
  .empresa-logo img {
    width: 150px; /* Ajusta según el tamaño de los logos */
    height: auto;
    margin-bottom: 10px;
  }
  
  .empresa-logo p {
    font-size: 1.2em;
    font-weight: bold;
  }
  