body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7f7f6;
  color: #333;
}

header {
  color: white;
  background-color: #072031;
}

h1,
h2,
p {
  text-align: center;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #072031;
}

.header-container .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container img {
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  display: block;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #0f486d;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #0f486d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  min-width: 150px;
  overflow: hidden;
  z-index: 1;
}

.dropdown-content li {
  margin: 0;
}

.dropdown-content li a {
  padding: 10px 15px;
  display: block;
  color: white;
  transition: background-color 0.3s;
}

.dropdown-content li a:hover {
  background-color: #3eaeea;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  display: block;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  background-color: #072031;
  color: white;
}

footer p {
  margin: 0;
}

.container-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card img {
  width: 200px;
  height: 200px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card h3 {
  margin: 15px 0;
  font-size: 22px;
  color: #333;
}

.card p {
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
}

.btnView {
  background-color: #072031;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnView:hover {
  background-color: #555;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#empresas-reconocidas {
  padding: 20px;
  text-align: center;
}

#empresas-reconocidas h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.empresa-logo {
  display: inline-block;
  margin: 10px;
}

.empresa-logo img {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.empresa-logo p {
  font-size: 1.2em;
  font-weight: bold;
}

form {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
select {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #072031;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px 0;
}

button:hover {
  background-color: #072031;
}

#contactos {
  text-align: left;
}

.contacto {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.contacto img {
  margin-right: 2px;
  max-width: 2%;
  height: auto;
}

/* Slider de Video */
.video-slider-container {
  position: relative;
  max-width: 90%;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.video-slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.video-slide {
  min-width: 100%;
  box-sizing: border-box;
}

.video-slide video {
  width: 100%;
  border-radius: 10px;
  max-height: 40vh;
}

/* Botones de navegación */
.video-prev,
.video-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
}

.video-prev {
  left: 10px;
}

.video-next {
  right: 10px;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .header-container {
    padding: 10px;
  }

  .container-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    padding: 10px;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  .video-slider-container {
    width: 100%;
  }

  .video-prev,
  .video-next {
    font-size: 16px;
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .container-section {
    grid-template-columns: 1fr;
  }

  .card {
    padding: 8px;
  }

  .card img {
    width: 100%;
    height: auto;
  }
}